.bh-file-upload {
  padding-left: 8px;
  padding-right: 8px;
}
.bh-file-upload-cancel {
  height: 24px;
  width: 24px;
  position: relative;
  top: 24px;
  left: -12px;
  ::ng-deep [dir='rtl'] & {
    right: -12px;
    left: 0;
  }
  mat-icon {
    border-radius: 12px;
    vertical-align: baseline;
  }
}
.bh-file-upload-done {
  height: 24px;
  width: 24px;
  position: relative;
  top: 20px;
  left: -13px;
  ::ng-deep [dir='rtl'] & {
    right: -12px;
    left: 0;
  }
  mat-icon {
    border-radius: 12px;
    vertical-align: baseline;
  }
}